<h2>Edit Song</h2>

<%= render partial: "form" %>

<%= form_for @song, method: "delete" do |f| %>
  <%= f.submit "Delete Song", class: "delete"%>
<% end %>


<!-- <%= form_for @song do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :album %>
  <%= f.text_field :album %>

  <%= f.label :preview_url, "Preview URL" %>
  <%= f.text_field :preview_url %>

  <%= f.label :artist_id %>
  <%= f.text_field :artist_id %>

  <%= f.submit "Update Song"%>
<% end %>
 -->
 
<!-- <form action="/songs/<%= @song.id %>" method="post">
  <input type="hidden" name="_method" value="put">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <label for="song[title]">Title:</label>
  <input name="song[title]" value="<%= @song.title %>">

  <label for="song[album]">Album:</label>
  <input name="song[album]" value="<%= @song.album %>">

  <label for="song[preview_url]">Preview URL:</label>
  <input name="song[preview_url]" value="<%= @song.preview_url %>">

  <label for="song[artist_id]">Artist ID:</label>
  <input name="song[artist_id]" value="<%= @song.artist_id %>">

  <input type="submit" value="Update Song">
</form> -->

<!-- <form action="/songs/<%= @song.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <input class="delete" type="submit" value="Delete Song">
</form> -->
